.nav {
    background-color: #fff;
    padding: 18px 0px;
    border-bottom: 1px solid black;
}

.toggle {
    color: #231f20;
    background-color: #231f20;
    border: 2px solid #231f20;
}

.btn1 {
    color: #ffffff;
    margin-right: 10px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 16px;
    background: #00cc99;
    border-radius: 5px;
    border: none;
    margin-left: -20px;
    transition: .2s linear;
}

.btn1:hover {
    background-color: #231f20;
}

.btn2 {
    background-color: #231f20;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 16px;
    border-radius: 5px;
    border: none;
    transition: .2s linear;
}

.btn2:hover {
    background-color: #00cc99;
}

.main i {
    font-size: 12px;
    margin-left: 5px;
    font-weight: 700;
}
.main li {
    position: relative;
    transition: all 0.3s ease-out 0s;
}
.main li a {
    text-transform: capitalize;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #231f20;
    margin-left: 15px;
    margin-right: 15px;
    display: block;
    text-decoration: none;
    transition: color .15s ease-in-out;
}
.main li:hover>a {
    color: #00cc99;
}

.sub {
    position: absolute;
    left: 0;
    top: 100%;
    width: 240px;
    padding-left: 0px;
    background: #ffffff;
    /* transform: translateY(10px); */
    opacity: 0;
    visibility: hidden;
    border: 1px solid rgba(0,0,0,.15);
    transition: all 0.3s ease-out 0s;
    z-index: 99;
}
.sub li
{
    border-bottom: 1px solid #f3f4f5;
}
.sub li a {
    display: block;
    position: relative;
    color: #212529;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border-radius: 0;
    line-height: 50px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}
.sub li {
    /* position: relative; */
    display: block;
    margin: 0;
}
.sub li:hover{
    color: #00cc99;
    background-color: #f3f4f5;
}
.main li:hover .sub {
    opacity: 1;
    visibility: visible;
    /* transform: translateY(-5px); */
}